<mat-card>
  Dog Form
  <form class="example-form" [formGroup]="createDogForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput
             type="text"
             placeholder="Name"
             formControlName="name">

      <mat-error *ngIf="name.errors && name.errors.required">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput
             type="text"
             placeholder="Description"
             formControlName="description"
             minlength="6">
      <mat-error *ngIf="description.errors && description.errors.minlength && (description.dirty || description.touched)">
        Please enter 6 characters of minlength
      </mat-error>
      <mat-error *ngIf="description.errors && description.errors.required">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="!createDogForm.valid" >{{ btnText }}</button>

    <button mat-button (click)="cleanForm()">Clean Form</button>
  </form>


</mat-card>


