<h2 mat-dialog-title>Perrito en Adopción</h2>
<mat-dialog-content>
  <p>Por favor llena los campos con la información requerida.</p>
  <form [formGroup]="dogForm">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nombre del Perrito</mat-label>
      <input formControlName="name" matInput placeholder="Ex. Max">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Edad (meses) </mat-label>
      <input formControlName="age" matInput placeholder="Ex. 24" type="number">
    </mat-form-field>

    <div class="full-width gender-field">
      <label>Género:</label>

      <mat-radio-group formControlName="gender" aria-label="Género">
        <mat-radio-button [value]="genderEnum.Female">Femenino</mat-radio-button>
        <mat-radio-button [value]="genderEnum.Male">Masculino</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Raza</mat-label>
      <mat-select formControlName="breed">
        <mat-option *ngFor="let breed of breeds$ | async" [value]="breed">
          {{breed}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nombre de quien lo dá en adopción </mat-label>
      <input formControlName="ownerName" matInput placeholder="Ex. Pedro Perez" type="text">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Teléfono de Contacto </mat-label>
      <input formControlName="ownerContactNumber" matInput placeholder="Ex. (310)-1232222" type="number">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ciudad </mat-label>
      <input formControlName="city" matInput placeholder="Ex. Bogotá" type="text">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Descripción (opcional)</mat-label>
      <textarea formControlName="description" matInput placeholder="Ex. Es muy cariñoso, y juguetón..."></textarea>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button [disabled]="dogForm.invalid" mat-raised-button color="primary" (click)="addDog()">{{ data?.dogId ? 'Actualizar' : 'Agregar'}}</button>
</mat-dialog-actions>
